{% extends "base_admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ action }} envase</h6>
            </div>

            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name,  {'attr': {'class': 'form-control', 'placeholder': 'Nombre de la categoria'}}) }}
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price,  {'attr': {'class': 'form-control', 'placeholder': 'Precio'}}) }}
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ form_label(form.quantity) }}
                            {{ form_widget(form.quantity,  {'attr': {'class': 'form-control', 'placeholder': 'Cantidad ml'}}) }}
                        </div>
                        <div class="col-sm-6">
                            <img src="/uploads/envases/{{ form.vars.data.mainImageFilename }}" style="max-height:250px">
                            {{ form_widget(form.mainImageFilename,  {'attr': {'class': 'form-control', 'placeholder': 'Imagen principal'}}) }}
                            <small id="emailHelp" class="form-text text-muted">Las imagenes deben ser de <strong>600 por 450 px<strong></small>
                        </div>
                    </div>
                {{ form_widget(form.save, {'attr': {'class':'btn btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}